 
 /* Mobile First Layout */
.container-fixed{
      display:grid;
      /*height:90vh;*/
      grid-template-columns: auto;
      grid-template-rows:100px 200px 150px 150px 150px 300px 100px;
      
    /* Use grid-template-area to create a mobile layout where each named space occupies its own row */
      grid-template-areas:
      "hd"
      "sd"
      "sd"
      "main"
      "ja"
      "pa"
      "ft";
      border-radius:10px;
      border: 2px solid grey;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin:auto;
      grid-gap:1px;
      background:black;
  }
  .box{
    border: 1px solid red;
    background: #F8FA9D;
    }

  .header{
      grid-area:hd;
  }

  .footer{
    grid-area: ft;
  }
  .card{
    grid-area: ja;
    border-color:red;
    border-color:gray;
    border-color:red;
    border-radius:30px;

  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-color:red;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    
  }
.content{
    grid-area: main;
  }
  
.card-container{
    grid-area:pa; 
 }

@media(min-width:900px){
 .container-fixed{
    /* Step 1: Set display to grid */
      display:grid;
      /*width:1300px;
      height:1000px;
   /* Step 2: setup rows amd columns */
      grid-template-columns: 100px 200px 200px 200px 330px 100px;
      grid-template-rows:100px 300px 300px 100px;
      grid-gap:auto;
      grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd sd sd sd main main main main"
      "sd sd sd sd ja ja pa pa"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid grey;
      margin:100px;
      margin-top:20px;
      border-radius:10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background:black;
  }}
  
  .box{
      border: 1px solid grey;
      background: blue;
      margin:5px;
    }
  .header{
      grid-area:hd;
      border-radius: 12px;
      background-image:url(maakuli.jpeg);
  }
  .footer{
      grid-area:ft;
      border-radius:15px;
      background-color:#8882A1;
  }
  .sidebar{
      grid-area:sd;
  }
  .content{
      grid-area:main;
      border-color:gray;
      border-radius:30px;
      background-color:white;
  }
  
  .card-container{
      grid-area:pa;
      background:white;
  }
  .card-container h4{
      margin:0;
  } 
  .card-container b{
     margin:0;
  }
  .card{ 
     grid-area:ja;
     border-color:gray;
     border-color:red;
     border-radius:30px;
  }
  
  .topnav{
     display:flex;
     flex-direction:row;
     justify-content:flex-end;
     align-items:center;
     flex-wrap:wrap;
  }
 .topnav a {
     margin:0 10px;v
     color:white;
 }
 a{
     color:white;
 }
 input{
     border-radius:70px;
 }

h3 {
  
  color:white;
}

.header box a{
     margin:50px;
     style="float:left";
     text-shadow: 3px 2px red;
     style="font-size:8vw;"
     font-size:6.2em;
}

#logo {
  
  margin:50px;
}

#one{
      background-image:url(msosi.jpeg);
      background-size:contain;
      border-radius:20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.card {
  /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-color:red;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img.rounded-corners {
      border-radius: 30px;
      height:200px;
}
 .section-1{
      background-image:url(mambo.jpeg);
      height:1000px;
      }
.section-1 p{
      margin:0;
     }
    .mabapara.hii-ya-njano{
      background-image:url(resturant.jpeg);
      background-repeat: no-repeat;
  height:auto;
 
    }
